/* About page */
.abtus{
    padding: 90px 0 68px 0;
    position: relative;
    z-index: 2;
}
.abtus::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A384C;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
}
.abtusWrpr{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.abtusBox1{
    width: 35%;
    position: relative;
    z-index: 1;
}
.abtusBox1__bg{
    position: absolute;
    width: 350px;
    z-index: -1;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
}
.abtusBox1-inner{
    border-radius: 30px;
    background-color: #283445;
    padding: 30px 30px;
    margin-bottom: 30px;
}
.abtusBox1__p{
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}
.prjideaCon1__btm2{
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    bottom: 0;
    margin: 0 auto;
    width: fit-content;
}
.prjideaCon1__btmhol{
    position: relative;
    margin: 0 auto;
    width: fit-content;
}
.prjideaCon1__btm2-svg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -100%;
}
.abtusBox2{
    width: 54%;
}
.team2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A384C;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1;
}

.serv1{
    padding: 40px 0 80px 0;
    position: relative;
    z-index: 2;
}
.serv1Wrpr{
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    width: 100%;
}
.serv1Box1{
    width: 49%;
}
.serv1Box1__h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}
.serv1Box1__p{
    font-size:18px;
    line-height: 2.5;
    margin-bottom: 90px;
}
.serv1Box2{
    width: 610px;
    height: 610px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serv1Box2__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.prjIdBoxCol2Col1-mini--ser1{
    background-color: #E8C765;
}
.prjIdBoxCol2--ser-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    height: 170px;
    background-color: rgba(204, 157, 70, 0.23);
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prjIdBoxCol2--ser-box-img{
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
}
.prjIdBoxCol2--ser-box-p{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #EBCC71;
    position: absolute;
    top: 105%;
}
.saying2{
    padding-bottom: 70px;
    position: relative;
    z-index: 2;
}
.serv2{
    padding: 150px 0 90px 0;
    position: relative;
    z-index: 1; 
}
.serv2__bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.serv2Wrpr{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 90px;
}
.serv2Box1{
    width: 58%;
}
.serv2Box1-hwrpr{
    column-gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}
.serv2Box1-hwrpr i{
    font-size: 34px;
    color: #05D1EB;
}
.serv2Box1__h{
    font-size: 28px;
    font-weight: bold;
}
.serv2Box2{
    width: 505px;
    height: 462px;
    border-radius: 42% 58% 52% 48% / 44% 35% 65% 56%;
    position: relative;
    z-index: 2;
}
.serv2Box2__imgbg{
    position: absolute;
    width: 450px;
    z-index: -1;
    bottom: -100px;
    right: -100px;
}
.serv2Box2__img{
    width: 100%;
    height: 100%;
    border-radius: 42% 58% 52% 48% / 44% 35% 65% 56%;
    object-fit: cover;
}
.ltr .serv2Box2__imgbg{
    right: auto;
    left: -100px;
}
.serv2Box1__p{
    font-size: 18px;
    line-height: 2.5;
}
.serv2Box2__imgbg2{
    position: absolute;
    width: 60px;
    height: auto;
    max-height: 60px;
    z-index: -1;
    bottom: 0;
    object-fit: contain;
    right: -20px;
}
.ltr .serv2Box2__imgbg2{
    right: auto;
    left: -20px;
}
.serv2Wrpr:nth-child(even){
    flex-direction: row-reverse;
}
.serv2Box1-hwrpr2 i{
    transform: rotate(45deg);
}
.serv2Wrpr:nth-last-child(1){
    margin-bottom: 0;
}
.teamWork2{
    padding-bottom: 40px;
}
.faq2{
    padding-top: 50px;
}

@media(max-width:1799px){
    .abtus {
        padding: 40px 0 60px 0;
    }
    .prjideaCon1__btm2-svg{
        height: 200px;
    }
    .abtusBox1 {
        width: 39%;
    }
    .abtusBox1__p {
        font-size: 15px;
    }
    .services__h {
        font-size: 22px;
    }
    .serv1Box2 {
        width: 510px;
        height: 510px;
    }
    .serv1Box1__p {
        font-size: 16px;
    }
    .serv2Box2 {
        width: 450px;
        height: 412px;
    }
    .serv2Box2__imgbg2 {
        width: 40px;
        right: -20px;
    }
    .serv2Box2__imgbg {
        width: 320px;
        bottom: -80px;
        right: -60px;
    }
    .ltr .serv2Box2__imgbg{
        right: auto;
        left: -60px;
    }
    .serv2Box1__h {
        font-size: 24px;
    }
    .serv2Box1-hwrpr i {
        font-size: 28px;
    }
    .serv2Box1__p {
        font-size: 17px;
    }
    .serv2Wrpr {
        margin-bottom: 50px;
    }
    .serv2 {
        padding: 105px 0 30px 0;
    }
    .teamWork2 {
        padding-bottom: 40px !important;
    }
    .faq2 {
        padding-top: 20px !important;
    }
}
@media(max-width:1599px){
    .abtusBox1__p {
        font-size: 13px;
        margin-bottom: 30px;
    }
    .prjideaCon1__btm2{
        bottom: 0 !important;
    }
    .prjideaCon1__btm2-svg {
        height: 181px;
    }
    .serv1Box1 {
        width: 56%;
    }
    .serv1Box2 {
        width: 450px;
        height: 450px;
    }
    .prjIdBoxCol2--ser-box {
        width: 150px;
        height: 150px;
    }
    .serv1Box1__p {
        font-size: 15px;
    }
    .prjIdBoxCol2--ser-box-img {
        width: 95px;
        height: 95px;
    }
}
@media(max-width:1399px){
    .abtusBox1 {
        width: 43%;
    }
    .prjideaCon1__btm2-svg {
        height: 166px;
    }
    .serv1Box1__p {
        margin-bottom: 70px;
    }
    .serv1Box2 {
        width: 390px;
        height: 390px;
    }
    .serv1Box1 {
        width: 59%;
    }
    .serv1Box1__h2 {
        font-size: 23px;
        margin-bottom: 10px;
    }
    .serv1Box1__p {
        font-size: 14px;
    }
    .prjIdBoxCol2--ser-box {
        width: 130px;
        height: 130px;
    }
    .prjIdBoxCol2--ser-box-img {
        width: 85px;
        height: 85px;
    }
    .prjIdBoxCol2--ser-box-p {
        font-size: 10px;
    }
    .serv2Box1__p {
        font-size: 14px;
    }
    .serv2Box1-hwrpr i {
        font-size: 20px;
    }
    .serv2Box1__h {
        font-size: 20px;
    }
    .serv2Box1-hwrpr {
        column-gap: 12px;
        margin-bottom: 15px;
    }
    .serv2Box2 {
        width: 360px;
        height: 330px;
    }
    .serv2Box2__imgbg {
        width: 260px;
        bottom: -50px;
        right: -40px;
    }
    .ltr  .serv2Box2__imgbg {
        right: auto;
        left: -40px;
    }
    .serv2Box2__imgbg2 {
        width: 30px;
        right: 0px;
    }
    .ltr .serv2Box2__imgbg2 {
        right: auto;
        left: 0px;
    }
    .serv2Wrpr {
        margin-bottom: 30px;
    }
    .teamWork2 {
        padding-bottom: 20px !important;
    }
    .abtusBox1-inner {
        border-radius: 20px;
        padding: 20px 20px;
        margin-bottom: 25px;
    }
    .abtusBox1__p {
        font-size: 11px;
        margin-bottom: 20px;
    }
    .abtus .prjideaCon1-inner-tab {
        font-size: 10px;
        padding: 8px 8px;
        width: 82px;
    }
    .abtus .prjIdBoxCol2-Row {
        position: relative !important;
        width: 100%;
        bottom: 0 !important;
        left: 0 !important;
    }
    .abtus {
        padding: 25px 0 60px 0;
    }
    .serv1 .prjIdBoxCol2-Row {
        position: relative !important;
        bottom: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }
    .serv1Box2 {
        width: 350px;
        height: 350px;
    }
    .serv1Box1__p {
        font-size: 13px;
    }
    .saying2 {
        padding-bottom: 30px !important;
    }
    .prjIdBoxCol2--ser-box {
        width: 100px;
        height: 100px;
    }
    .prjIdBoxCol2--ser-box-img {
        width: 65px;
        height: 65px;
    }
    .serv1Box1__p {
        margin-bottom: 45px;
    }
    .serv2Box2 {
        width: 300px;
        height: 275px;
    }
    .serv2Box1 {
        width: 65%;
    }
    .abtusBox2 .prjIdBoxCol2Col1-mini {
        padding: 5px 12px;
        column-gap: 5px;
        border-radius: 5px;
    }
    .abtusBox2 .prjIdBoxCol2Col1-mini{
        font-size: 13px;
    }
    .abtusBox2 .prjIdBoxCol2Col1-mini i{
        font-size: 14px;
    }
    .abtusBox2 .prjIdBoxCol2Col1-p{
        font-size: 10px;
        bottom: -10px !important;
    }
    .abtusBox1-wrpr{
        flex-wrap: wrap;
        row-gap: 10px;
    }

}
@media(max-width:1199px){
    .prjideaCon1__btm2-svg{
        height: 100px;
    }
}
@media(max-width:1023px){
    .abtusBox1-inner {
        margin-bottom: 15px;
    }
    .serv1Box2 {
        width: 300px;
        height: 300px;
    }
    .serv1Box1 {
        width: 54%;
    }
    .serv1Box1__p {
        font-size: 12px;
    }
    .serv1Wrpr{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        row-gap: 15px;
    }
    .serv1Box1{
        width: 100%;
    }
    .serv2Box2 {
        width: 230px;
        height: 211px;
    }
    .serv2Box2__imgbg2 {
        width: 20px;
        right: 0px;
    }
    .serv2Box1__p {
        font-size: 12px;
        line-height: 2;
    }
    .serv2Box1__h {
        font-size: 16px;
    }

}
@media(max-width:767px){
    .abtusWrpr{
        flex-wrap: wrap;
    }
    .abtusBox1{
        width: 100%;
    }
    .abtusBox2{
        width: 100%;
    }
    .prjideaCon1__btm2-svg{
        display: none;
    }
    .abtusBox1__bg {
        width: 280px;
        z-index: -1;
        top: 32%;
    }
    .serv2Wrpr{
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .serv2Box1{
        width: 100%;
    }
    .serv2Box2{
        margin: 0 auto;
    }
    .serv2Box1__p{
        text-align: center;
    }
    .serv2 {
        padding: 60px 0 30px 0;
    }
    .abtus {
        padding: 24px 0 20px 0;
    }
    .serv1Box2{
        margin-inline: auto;
    }
    .faq2 {
        padding-top: 120px !important;
    }
    .prjIdBoxCol2--ser-box {
        width: 70px;
        height: 70px;
    }
    .prjIdBoxCol2--ser-box-img {
        width: 50px;
        height: 50px;
    }
    .prjIdBoxCol2--ser-box-p{
        width: 150px;
    }

}

.ltr .prjideaCon1__btm2-svg{
    transform: scaleX(-1);
    left: auto;
    right: -100%;
}